.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
mplus/test9_mplus.out
mplus/mplus_test.inp
mplus/mplus_test.out
mplus/test_hessian.dat
mplus/test_hessian.inp
mplus/test_hessian.out
mplus/test1_mplus.dgm
mplus/test1_mplus.inp
mplus/test1_mplus.out
mplus/test2_mplus.inp
mplus/test2_mplus.out
mplus/test3_mplus.inp
mplus/test3_mplus.out
mplus/test4_mplus.inp
mplus/test4_mplus.out
mplus/test5_mplus.inp
mplus/test5_mplus.out
mplus/test6_mplus.inp
mplus/test6_mplus.out
mplus/test7_mplus.inp
mplus/test7_mplus.out
mplus/test8_mplus.inp
mplus/test8_mplus.out
mplus/test9_mplus.inp
workflow.R
mplus/data.dat
dACTIVE.rds
mbr_thing.RDS
data.RDS
